
<html xmlns:th="http://www.thymeleaf.org", xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:fragment="header">
            <nav>
                <a th:href="@{/}">[[#{user.list}]]</a>
                <a th:href="@{/append}">[[#{user.insert}]]</a>
                <div class="animation start-home"></div>
            </nav>
        </header>
        <footer th:fragment="i18n">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}" >ES</a> - 
                <a th:href="@{/(lang=en)}" >EN</a>
                <span> </span>
            </div>
        </footer>
    </body>
</html>
